@import '../../_css/common';

.carousel{
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 800px;
}

.slides__container{
  overflow: hidden;
  width: 100%;
}

.slides{
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  width: fit-content;
  transform: translateX(calc(-100% * var(--slide)));
}

.slide{
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.controls{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  pointer-events: none;
}

.control{
  cursor: pointer;
  pointer-events: auto;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  margin: 0 1rem;

  &:hover{
    background-color: rgba(0, 0, 0, 0.7);
  }

}

.dots{
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot{
  cursor: pointer;
  pointer-events: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff80;
  margin: 0 5px;
  transition: background-color 0.1s ease-in-out;

  &:hover{
    background-color: #ffffff;
  }

  &.active{
    background-color: var(--color-secondary);
  }

  @include small-break {
    width: 8px;
    height: 8px;
  }
}

.caption{
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  transition: visibility 0.3s ease-in-out;

  .slide:hover & {
    opacity: 1;
  }
}
